// Anchorman 0.1.0
// https://github.com/mrdink/anchorman
// Copyright 2017 Sixteenbit LLC
// MIT License

$primary-color: #0069ff;

// Base styles for anchors
@mixin base-anchor($anchor-color: $primary-color, $anchor-hover-color: darken($anchor-color, 15%)) {
  outline: none;
  color: $anchor-color;
  text-decoration: none;
  white-space: nowrap;

  &:hover,
  &:focus {
    color: $anchor-hover-color;
  }

  &::before,
  &::after {
    font-smoothing: antialiased;
    pointer-events: none;
    backface-visibility: hidden;
  }
}

@import 'anchorman/types/inline';
