// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.site-header {
  padding: 20px 15px;
  background-color: $brand-color;
  text-align: center;

  h1 {
    margin: 0;
    text-transform: uppercase;

    & > a {
      @include base-link($brand-secondary-color);
      text-decoration: none;
    }
  }

  p {
    margin: 0;
    color: $light-grey;
  }
}
