// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.site-header {
  padding: 20px 15px;
  background-color: $brand-color;
  text-align: center;

  h1 {
    margin: 0;
    text-transform: uppercase;

    & > a {
      @include base-anchor($brand-secondary-color);
      text-decoration: none;
    }
  }

  p {
    margin: 0 0 24px;
    color: $light-grey;
  }

  nav {
    & > a {
      @include base-anchor($light-grey);
      padding: 0 15px;
      font-size: 24px;
    }
  }
}
